<html>
  <head>
    <title>Layout Page Title</title>
  </head>
  <body>
    <p>Liquid doesn't support templates, {{name}}. If you're seeing this in a browser, something has gone wrong.</p>
  </body>
</html>